body{
    
    margin: 15px;
}
.logo-f1{
    position: relative;
    margin: 0px;
}

.background{
    background-color: rgb(255, 255, 255);
    height: 120px;
}
.li1{
    text-align: right;
    display: inline-block;
    padding: 15px;
    color: white;
    font-size: 24px;
    position: relative;
    top: 5px;
}
.info{
    font-size: 24px;
}
.table{
    font-size: 18px;
    
}
.text{
    font-size: 24px;
    
}
footer{
    color: white;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: crimson;
    padding: 5px;
    text-align: center;
}
.non-active{
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
}